:root{
	--pulse-color: rgba(164, 42, 42, 0.6);
	--pulse-color-fade: rgba(164, 42, 42, 0);
}

html{
	height: 100%;
}

body{
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	padding: 0;
}

header{
	width: 500px; 
}

nav{
	background-color: rgba(59,46,46,0.4);
	display: inline-block;
	height: 40px;
	margin: 0;
	overflow: scroll;
	padding: 0;
	position: absolute;
	width: 150px;
	z-index: 4;
}

nav ul, nav ul ul{
	margin: 0;
	padding: 0;
    box-shadow: black 2px 2px 5px;
}

nav>ul>li{
	background-color: rgba(59,46,46,0.4);
	color: #FFF;
	display: block;
	height: 100%;
	list-style: none;
	padding: 10px 30px;
	padding-left: 35px;
	text-align: center;
}

nav ul ul li{
	background-color: #980000;
	border-top: 1px solid #820000;
	color: #ddd;
	display: block;
	font-size: 14px;
	height: auto;
	list-style: none;
    padding: 10px;
	text-align: left;
	transition: .5s all;
	animation: fadeInLeft .5s;
}

nav ul ul li:first-child{
    border-top: 2px solid #720000;
    padding-top: 10px;
}

#categories-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#categories-title:not(.title-added){
	pointer-events: ;
}

#search{
	height: 32px;
	position: absolute;
	right: 5px;
	width: 450px;
	z-index: 2;
}

#search input{
	background-color: rgba(255,255,255,0.4);
	border-radius: 0;
	font-size: 16px;	
	height: 28px;
	margin: 0;
	padding: 0 32px 0 10px;
	text-overflow: ellipsis;
	width: 404px;
    outline-color: #980000;
    outline-width: 2px;
}

#search img{
	right: 0px;
	top: 0;
	position: absolute;
	z-index: 3;
	-moz-transform: scaleX(-1); /* Firefox */
	-o-transform: scaleX(-1); /* Opera */
	-webkit-transform: scaleX(-1); /* Chrome Y¡y Safari */
	transform: scaleX(-1); /* w3org */
	filter: FlipH; /* Internet Explorer */
}

#search span{
	display: none;
}

#hideKeyboard{
	position: absolute;
	left: 0px;
	top: -20px;
	z-index: -1;
}

#warning{
	background-color: rgba(0,0,0,0.5);
	bottom: 72px;
	color: #FFF;
	display: none;
	padding: 5px 5px 5px 5px;
	position: absolute;
	right: 0;
	padding
	z-index: 1
}

#clearMap{
	bottom: 32px;
	background-color: rgba(250,250,250,0.5);
	padding: 5px 5px 5px 5px;
	position: absolute;
	right: 0;
	z-index: 1;
}

#ui-id-1{
	background-color: rgba(240,240,240,0.8);
	border-left: 1px solid #c5c5c5;
	left: auto !important;
	list-style: none;
	max-height: 40%; 
	margin: 0;
	overflow: scroll;
	padding: 0;
	position: absolute;
	right: 0 !important; 
	top: 32px;
	width: 450px !important;
}

#ui-id-1 li{
	border-top: 1px solid #c5c5c5;
	padding: 5px 0 5px 5px;
}

#ui-id-1 li:last-child{
	border-bottom: 1px solid #c5c5c5;
}

#mapOverlay{
	bottom: 0;
	display: none;
	position: absolute;
	top: 0;
    width: 100%;
    z-index: 3;
}

#map,#map_routes{
	bottom: 0;
	position: absolute;
	height: 100%;
    width: 100%;
	z-index: 0;
	transition: .5s all;
}
#loadingWrap{
	background: rgba(0,0,0,0.8);
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 4;
}
#loading{
	background: #fff;
	border-radius: 15px;
	height: 200px;
	left: calc(50% - 100px);
	position: absolute;
	top: calc(50% - 100px);
	width: 200px;
}    
#loading p{
	text-align: center;
	margin-top: 40px;

}
#loading img{
	margin-left: 25%;

}
#send2, #selectRoutes{
	position: absolute;
	z-index: 10;
}
#selectRoutes{
	right: 0;
}

.button-container {
	display: flex;
	justify-content: space-between;
}

.fadeInLeft {
	animation: fadeInLeft .5s;
}

.markerTitle{
	text-align: center;
	font-weight: bold !important;
}

.markerDescription{
	padding-top: 10px;
	width: 100%;
}


div button{
	background: none;
	padding: 10px 0;
	border: 0;
	color: blue;
	font-size: 12px;
	text-decoration: underline;
}

.button-delete{
	color: #ff0000;
    padding-left: 10px;
}

.open-categories{
    display: flex;
    padding: 3px 5px;
    margin-left: 5px;
    background: white;
    color: black;
    font-weight: 800;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

.open-categories.back-button{
    display: block;
    padding: 4px 6px;
	margin-left: 0;
	position: absolute;
	left: 5px;
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 var(--pulse-color);
		box-shadow: 0 0 0 0 var(--pulse-color);
	}
	70% {
		-moz-box-shadow: 0 0 0 15px var(--pulse-color-fade);
		box-shadow: 0 0 0 15px var(--pulse-color-fade);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 var(--pulse-color-fade);
		box-shadow: 0 0 0 0 var(--pulse-color-fade);
	}
}

@keyframes fadeInLeft {
	0% {
	   opacity: 0;
	   transform: translateX(-20px);
	}
	100% {
	   opacity: 1;
	   transform: translateX(0);
	}
 }   

@media screen and (max-width: 700px) {
	header{
		width: 200px;
	}

	#map{
		height: calc(100% - 32px);
	}

	#search{
		width: 100%;
	}

	#search input{
		width: calc(100% - 38px);
	}

	#ui-id-1{
		width: 100% !important;
	}

	nav{
		bottom: 0;
		width:100%;
	}
} 

